* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

button {
    background-color:rgb(216, 247, 253);
    border: 1px solid;
}

button, input[type=text] {
    padding: 5px;
}

#header {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid;
    margin: 10px;
}

.content {
    margin: 10px;
}

#header h1 {
    display: inline-block;
}

.contactsToolsPanel {
    margin: 10px 0px 10px 0px;
}

table#contacts {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table#contacts td, 
table#contacts th {
    border: 1px solid #dddddd;
    padding: 10px;
}

table#contacts th {
    background-color:lightcyan;
}
