<!DOCTYPE html>
<html ng-app="contactsApp">
    <head>
        <meta charset="utf-8">
        <title>Справочник контактов</title>

        <link href="css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="header">
            <img src="../assets//img/logo.jpg" alt="logo" height="25px" width="25px">
            <h1>Справочник контактов</h1>
        </div>
        <div class="content" ng-controller="contactsController">
            <h2 style="margin: 10px 0px 10px 0px">Контакты</h2>
            <div class="contactsToolsPanel">
                <button ng-click="addContact()">Добавить новый контакт</button>
                <button ng-click="loadFromFile()">Загрузить из файла</button>
                <input type="text" placeholder="Путь к файлу" maxlength="100" ng-model="contactsFilePath">
            </div>
            <table id="contacts">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя </th>
                        <th>Отчество</th>
                        <th>Номер телефона</th>
                        <th>Адрес электронной почты</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts">
                        <td>{{ contact.surname }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.patronymic }}</td>
                        <td>{{ contact.phoneNumber }}</td>
                        <td>{{ contact.email }}</td>
                        <td><button ng-click="removeContact(contact)">Удалить</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="../libs/angular.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/contactsService.js"></script>
        <script src="scripts/contactsCtrl.js"></script>
    </body>
</html>
